{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
/>
    <link rel="stylesheet" href='{% static "style.css"  %}'>
    <title>Memo pads</title>
</head>
<body>
<nav>
    <a href="{% url 'main' %}">Home</a>
    <a href="{% url 'memopads' %}">Memo Pads</a>
    {% if user.is_authenticated %}
    <a href="{% url 'shuffle' %}">Shuffle</a>
    <a href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
    {% endif %}
    <a class="user">{{user}}</a>
</nav>
{%block body%}

<div>Witaj na stronie Memo Pads</div>

{% endblock %}

</body>
<script src="{% static 'app.js' %}"></script>

</html>