{% extends "base.html" %}
{% load static %}

{% block body %}

<div class="addMemoPadModalBox">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form id="addMemoPadForm" class="addMemoPadForm">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>

            <label for="category">Category:</label>
            <input type="text" id="category" name="category" required>

            <label for="note">Note:</label>
            <textarea id="note" name="note" required></textarea>

            <input type="submit" value="Add Memo Pad">
        </form>
    </div>
</div>

{% for memopad in memopads %}

<div class="memopadbox">
    <div class="memopadbox-descbox">
        <div class="memopadbox-descbox-title">{{memopad.title}}</div>
        <div class="memopadbox-descbox-category">{{memopad.category.category}}</div>
    </div>

    <div class="memopadbox-details">
        <div class="memopadbox-details-notes">{{memopad.note|safe}}</div>
    </div>
</div>

{% endfor %}


<div class="add-memopadbox">
    <input
            class="add-memopadbox-sign"
            type="button"
            value="&#43;"
            title="Create new memo pad"
    >
</div>
{% endblock %}