{% extends "base.html" %}
{% load static %}

{% block body %}

<div class="addMemoPadModalBox">
    <div class="modal-content">
        <span class="close">&times;</span>
        <form id="addMemoPadForm" class="addMemoPadForm" method="post">
            {% csrf_token %}
            <label>Title:</label>
            <input type="text" id="title" name="title" required>

            <label id="category-label">Category:</label>
            <select id="category-select" name="category-select" required>
                {% for category in categories %}
                <option value="{{category.id}}">{{category.category}}</option>
                {% endfor %}
                <option value="addNewCategory">New Category</option>
            </select>

            <input type="text" id="category-input" name="category-input">

            <label for="note">Note:</label>
            <textarea id="note" name="note" required></textarea>

            <input type="submit" value="Add Memo Pad">
        </form>
    </div>
</div>

{% for memopad in memopads %}

<div class="memopadbox">
    <div class="memopadbox-descbox">
        <div class="memopadbox-descbox-title">{{memopad.title}}</div>
        <div class="memopadbox-descbox-category">{{memopad.category.category}}</div>
    </div>

    <div class="memopadbox-details">
        <div class="memopadbox-details-notes">{{memopad.note|safe}}</div>
    </div>
</div>

{% endfor %}

{% if user.is_authenticated %}
<div class="add-memopadbox">
    <input
            class="add-memopadbox-sign"
            type="button"
            value="&#43;"
            title="Create new memo pad"
    >
</div>
{% else %}
<div>Załóż konto, aby dodawać notatki</div>
{% endif %}


{% endblock %}