{% extends "base.html" %}
{% load static %}
{% block body %}

<div class="galleryModalBox">
    <div class="galleryContent">
        <span class="galleryClose">&times;</span>
        <img id="modalImage" class="modalContent">
    </div>
</div>




{% if user.is_authenticated %}
<div class="add-memopadbox">
    <input
            class="add-memopadbox-sign"
            type="button"
            value="&#43;"
            title="Create new memo pad"
    >
</div>
{% else %}
<div>Załóż konto, aby dodawać notatki</div>
{% endif %}


<script src="https://cdn.tiny.cloud/1/yqxa1nqsoxr7idi00ug330h0gsh66xcb87j9dbiwzufq336s/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
<script src="https://cdn.tiny.cloud/1/yqxa1nqsoxr7idi00ug330h0gsh66xcb87j9dbiwzufq336s/tinymce/6/tinymce.min.js"
        referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: 'textarea',
        apiKey: '{{ TINYMCE_API_KEY }}',
        plugins: 'lists',
        toolbar: 'bullist numlist bold italic underline lignleft aligncenter alignright alignjustify',
    });
</script>
<script type="module" src="{% static 'view.js' %}"></script>


{% endblock %}