{% extends "base.html" %}
{% load static %}

{% block body %}
<div class="galleryModalBox">
    <div class="galleryContent">
        <span class="galleryClose">&times;</span>
        <img id="modalImage" class="modalContent">
    </div>
</div>
<!-- Slider main container -->
<div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->

        {% for memopad in memopads %}
        <div class="swiper-slide">

            <div class="memopadbox-shuffle">
                <div class="memopadbox-descbox-shuffle">
                    <div class="memopadbox-descbox-title">{{memopad.title}}</div>
                    <div class="memopadbox-descbox-category">{{memopad.category.category}}</div>
                </div>

                <div class="memopadbox-details-shuffle">
                    <div class="memopadbox-details-notes">{{memopad.note|safe}}</div>
                    {% if memopad.image %}
                    <img class="memopadbox-details-image" src="{{ memopad.image.url }}" alt="Memo Image" loading="lazy">
                    {% endif %}
                </div>

            </div>

        </div>
        {% endfor %}
    </div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script src="{% static 'swiper.js' %}"></script>
{% endblock %}